<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127797921459-19hgnmd5p1gtmntou8fe2fi7koe4qeu0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127797921459-19hgnmd5p1gtmntou8fe2fi7koe4qeu0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>127797921459-6rpp5bh7smevgk8ofruprp72c9b1a9jr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDixDcvvH6NpjfLstOI-V1OrVxwMd_MqaI</string>
	<key>GCM_SENDER_ID</key>
	<string>127797921459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.approximot.projet</string>
	<key>PROJECT_ID</key>
	<string>approximot-2-0</string>
	<key>STORAGE_BUCKET</key>
	<string>approximot-2-0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127797921459:ios:b19a41e4565576324752c6</string>
</dict>
</plist>